body {
    background-color: #f7f7f7;
}

#hero {
    background-image: url('https://res.cloudinary.com/ewebdesigns/image/upload/v1588897656/hero_pics_app_izvulh.jpg');
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 425px;
}

#hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

#hero-text h1 {
    font-size: 5rem;
}

.footer {
    background-color: #ffffff !important;
}

.img-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0 10px;
    grid-auto-rows: 10px;
}

.img-wrapper img {
    width: 250px;
    grid-row-end: span 2;
}

@media (max-width: 450px) {
    #hero-text {
        display: block;
    }
}